@charset "UTF-8";

@media screen and (max-width:480px) {
  img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
   }
   #page-wrap {
     position: relative;
     width: 100%;
     margin-bottom: 30%;
   }
  #header{
    width:75%;
    text-align: center;
    margin: 0 auto;
  }
  h1{
    font-size: 10vw;
    font-family:Microsoft JhengHei;
    padding:5% 0 0 0;
    letter-spacing:2vw;
  }
  #music{
    width:10%;float:right;margin-right:2vw;
  }

}
